.wt-days-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  color: white;

  .wt-grid-row {
    height: 25px;

    .wt-grid-row__cell {
      height: 14px;
      border: 1px solid white;
      padding: 4px;
      padding-inline: 12px;
      min-width: 50px;

      .wt-grid-row__cell-marker {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        right: 5px;
        top: 7px;
      }
    }
  }

  .wt-grid-row.wt-grid-row_header {
    height: 30px;

    .wt-grid-row__cell {
      height: 19px;
    }
  }

  .wt-grid-row_current-day .wt-grid-row__cell {
    color: yellow;
  }

  .wt-grid-row_clickable {
    cursor: pointer;
  }

  .wt-grid_column-1 {
    margin-left: -1px;
  }
}
