.wt-round-button {
  border-radius: 8px;
  padding: 8px;
  background-color: #403b33;
  color: white;
  cursor: pointer;
  border: none;
  min-width: 100px;
}

.wt-round-button--disabled {
  pointer-events: none;
  opacity: 0.5;
}
