.wt-page {
  overflow: hidden;

  .wt-timer-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .wt-timer-bg--1 {
    background-image: url("./assets/bg01.jpg");
    opacity: 0.3;
  }

  .wt-timer-bg--2 {
    background-image: url("./assets/bg02.jpg");
    opacity: 0.5;
  }

  .wt-timer-bg--3 {
    background-image: url("./assets/bg03.jpg");
    opacity: 1;
  }

  .wt-timer-bg--4 {
    background-image: url("./assets/bg04.jpg");
    opacity: 0.5;
  }

  .wt-timer-bg--5 {
    background-image: url("./assets/bg05.jpg");
    opacity: 0.3;
  }

  .wt-timer-bg--6 {
    background-image: url("./assets/bg06.jpg");
    opacity: 0.3;
  }

  .wt-timer-bg--7 {
    background-image: url("./assets/bg07.jpg");
    opacity: 0.75;
  }

  .wt-timer-bg--8 {
    background-image: url("./assets/bg08.jpg");
    opacity: 0.75;
  }

  .wt-timer-bg--9 {
    background-image: url("./assets/bg09.jpg");
    opacity: 0.75;
  }

  .wt-timer-bg--10 {
    background-image: url("./assets/bg10.jpg");
    opacity: 0.75;
  }

  .wt-timer-bg--11 {
    background-image: url("./assets/bg11.jpg");
    opacity: 0.75;
  }

  .wt-timer-bg--12 {
    background-image: url("./assets/bg12.jpg");
    opacity: 0.75;
  }

  .wt-timer-bg--13 {
    background-image: url("./assets/bg13.jpg");
    opacity: 0.75;
  }

  // .wt-timer-bg--14 {
  //   background-image: url("./assets/bg14.jpg");
  //   opacity: 0.75;
  // }

  // .wt-timer-bg--15 {
  //   background-image: url("./assets/bg15.jpg");
  //   opacity: 0.75;
  // }

  // .wt-timer-bg--16 {
  //   background-image: url("./assets/bg16.jpg");
  //   opacity: 0.75;
  // }
}
