.wt-days-grid {
  .wt-grid-row {
    display: grid;
    grid-template-columns: 60px 1fr;

    .wt-grid-row__cell {
      padding-inline: 12px;

      .wt-grid-row__cell-marker {
        border: 2px solid;
        width: 4px;
        height: 4px;
        border-radius: 50%;
      }
    }

    &.wt-grid-row--header {
      border-bottom: 2px solid #333333;
    }

    &:not(.wt-grid-row--header) {
      border-bottom: 1px solid #333333;
    }
  }

  .wt-grid-row--current-day .wt-grid-row__cell {
    color: orange;
  }

  .wt-grid-row--non-working-day .wt-grid-row__cell {
    opacity: 0.2;
  }
}
