// All

.wt-m-8 {
  margin: 8px;
}

.wt-m-12 {
  margin: 12px;
}

.wt-m-16 {
  margin: 16px;
}

.wt-m-20 {
  margin: 20px;
}

// Inline

.wt-m-i-8 {
  margin-inline: 8px;
}

.wt-m-i-12 {
  margin-inline: 12px;
}

.wt-m-i-16 {
  margin-inline: 16px;
}

.wt-m-i-20 {
  margin-inline: 20px;
}

// inline-start

.wt-m-i-start-8 {
  margin-inline-start: 8px;
}

.wt-m-i-start-12 {
  margin-inline-start: 12px;
}

.wt-m-i-start-16 {
  margin-inline-start: 16px;
}

.wt-m-i-start-20 {
  margin-inline-start: 20px;
}

.wt-m-i-start-24 {
  margin-inline-start: 24px;
}

// inline-end

.wt-m-i-end-8 {
  margin-inline-end: 8px;
}

.wt-m-i-end-12 {
  margin-inline-end: 12px;
}

.wt-m-i-end-16 {
  margin-inline-end: 16px;
}

.wt-m-i-end-20 {
  margin-inline-end: 20px;
}

.wt-m-i-end-24 {
  margin-inline-end: 24px;
}

// Block

.wt-m-b-8 {
  margin-block: 8px;
}

.wt-m-b-12 {
  margin-block: 12px;
}

.wt-m-b-16 {
  margin-block: 16px;
}

.wt-m-b-20 {
  margin-block: 20px;
}

// block-start

.wt-m-b-start-8 {
  margin-block-start: 8px;
}

.wt-m-b-start-12 {
  margin-block-start: 12px;
}

.wt-m-b-start-16 {
  margin-block-start: 16px;
}

.wt-m-b-start-20 {
  margin-block-start: 20px;
}

// block-end

.wt-m-b-end-8 {
  margin-block-end: 8px;
}

.wt-m-b-end-12 {
  margin-block-end: 12px;
}

.wt-m-b-end-16 {
  margin-block-end: 16px;
}

.wt-m-b-end-20 {
  margin-block-end: 20px;
}
