// All

.wt-pad-4 {
  padding: 4px;
}

.wt-pad-8 {
  padding: 8px;
}

.wt-pad-12 {
  padding: 12px;
}

.wt-pad-16 {
  padding: 16px;
}

.wt-pad-20 {
  padding: 20px;
}

// Inline

.wt-pad-i-8 {
  padding-inline: 8px;
}

.wt-pad-i-12 {
  padding-inline: 12px;
}

.wt-pad-i-16 {
  padding-inline: 16px;
}

.wt-pad-i-20 {
  padding-inline: 20px;
}

// inline-start

.wt-pad-i-start-8 {
  padding-inline-start: 8px;
}

.wt-pad-i-start-12 {
  padding-inline-start: 12px;
}

.wt-pad-i-start-16 {
  padding-inline-start: 16px;
}

.wt-pad-i-start-20 {
  padding-inline-start: 20px;
}

// inline-end

.wt-pad-i-end-8 {
  padding-inline-end: 8px;
}

.wt-pad-i-end-12 {
  padding-inline-end: 12px;
}

.wt-pad-i-end-16 {
  padding-inline-end: 16px;
}

.wt-pad-i-end-20 {
  padding-inline-end: 20px;
}

// Block

.wt-pad-b-8 {
  padding-block: 8px;
}

.wt-pad-b-12 {
  padding-block: 12px;
}

.wt-pad-b-16 {
  padding-block: 16px;
}

.wt-pad-b-20 {
  padding-block: 20px;
}

// block-start

.wt-pad-b-start-8 {
  padding-block-start: 8px;
}

.wt-pad-b-start-12 {
  padding-block-start: 12px;
}

.wt-pad-b-start-16 {
  padding-block-start: 16px;
}

.wt-pad-b-start-20 {
  padding-block-start: 20px;
}

// block-end

.wt-pad-b-end-8 {
  padding-block-end: 8px;
}

.wt-pad-b-end-12 {
  padding-block-end: 12px;
}

.wt-pad-b-end-16 {
  padding-block-end: 16px;
}

.wt-pad-b-end-20 {
  padding-block-end: 20px;
}
