.wt-tasks-panel {
  position: absolute;
  right: -400px;
  top: 0px;
  bottom: 0px;
  width: 400px;

  .wt-panel-header {
    width: 400px;
  }
}

.wt-tasks-panel.hidden {
  animation: wt-tasks-panel-hide 0.5s forwards;

  .wt-panel-header,
  .wt-panel__content {
    animation: wt-tasks-panel-content-hide 0.5s forwards;
  }

  .wt-panel-side-header {
    animation: wt-tasks-panel-header-show 0.5s forwards;
  }
}

.wt-tasks-panel.shown {
  animation: wt-tasks-panel-show 0.5s forwards;

  .wt-panel-header,
  .wt-panel__content {
    animation: wt-tasks-panel-content-show 0.5s forwards;
  }

  .wt-panel-side-header {
    animation: wt-tasks-panel-header-hide 0.5s forwards;
  }
}

@keyframes wt-tasks-panel-show {
  0% {
    right: -400px;
  }
  100% {
    right: 0;
  }
}

@keyframes wt-tasks-panel-hide {
  0% {
    right: 0;
  }
  100% {
    right: -400px;
  }
}

@keyframes wt-tasks-panel-content-show {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
}

@keyframes wt-tasks-panel-content-hide {
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes wt-tasks-panel-header-show {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wt-tasks-panel-header-hide {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
