.wt-margin-block-8 {
  margin-block: 8px;
}

.wt-margin-block-12 {
  margin-block: 12px;
}

.wt-margin-inline-start-12 {
  margin-inline-start: 12px;
}

.wt-margin-inline-end-12 {
  margin-inline-end: 12px;
}

.wt-pad-12 {
  padding: 12px;
}
