.timerDiv {
  color: white;
  font-family: latoregular;
  font-size: 50px;
  width: 100%;
  text-align: center;
}

.timerDivH {
  font-size: 60px;
  display: inline-block;
}

.timerDivRest {
  display: inline-block;
  margin-left: -15px;
}
