.wt-round-button {
  border-radius: 8px;
  padding: 8px;
  background-color: #5c5c5c;
  color: white;
  cursor: pointer;
  border: none;
  min-width: 100px;
}

.wt-round-button_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.wt-action-button-20 {
  font-size: 20px;
}

.wt-action-button-16 {
  font-size: 16px;
}
