.wt-m-8 {
  margin: 8px;
}

.wt-m-12 {
  margin: 12px;
}

.wt-m-16 {
  margin: 16px;
}

.wt-m-20 {
  margin: 20px;
}

.wt-m-b-8 {
  margin-block: 8px;
}

.wt-m-b-12 {
  margin-block: 12px;
}

.wt-m-b-start-12 {
  margin-block-start: 12px;
}

.wt-m-b-end-12 {
  margin-block-end: 12px;
}

.wt-m-b-end-28 {
  margin-block-end: 28px;
}

.wt-m-i-start-12 {
  margin-inline-start: 12px;
}

.wt-m-i-end-12 {
  margin-inline-end: 12px;
}

// Padding

.wt-pad-8 {
  padding: 8px;
}

.wt-pad-12 {
  padding: 12px;
}

.wt-pad-b-8 {
  padding-block: 8px;
}

.wt-pad-b-12 {
  padding-block: 12px;
}

.wt-pad-b-start-12 {
  padding-block-start: 12px;
}

.wt-pad-b-end-12 {
  padding-block-end: 12px;
}

.wt-pad-i-start-12 {
  padding-inline-start: 12px;
}

.wt-pad-i-end-12 {
  padding-inline-end: 12px;
}

/* Gap */

.wt-flex-gap-8 {
  gap: 8px;
}
