.wt-alert {
  position: absolute;
  top: -200px;
  left: 30%;
  right: 30%;
  background-color: white;
  color: black;
  border-radius: 12px;

  .wt-alert__title {
    font-weight: bold;
  }
}

.wt-alert-enter {
  top: -200px;
}

.wt-alert-enter-active {
  top: 25px;
  transition: 0.5s;
}

.wt-alert-enter-done {
  top: 25px;
}

.wt-alert-exit {
  top: 25px;
}

.wt-alert-exit-active {
  top: -200px;
  transition: 0.5s;
}
