.wt-task-card {
  border-bottom: 1px solid #333333;

  .bi {
    cursor: pointer;
  }

  .wt-task-card__issue {
    font-size: 16px;
  }

  .wt-task-card__chip {
    border-radius: 12px;
    border: 1px solid;
    padding-inline: 5px;
    font-size: 12px;

    &.wt-task-card__chip--unset {
      color: gray;
      border-color: gray;
    }

    &.wt-task-card__chip--task {
      color: green;
      border-color: green;
    }

    &.wt-task-card__chip--bug {
      color: darkred;
      border-color: darkred;
    }
  }

  .wt-task-card__modified {
    color: #cccccc;
    font-size: 14px;
  }

  .wt-task-card__label {
  }
}
