.wt-user-form {
  gap: 40px;

  .wt-form-title {
    font-size: 44px;
    text-align: center;
  }

  .wt-form-row {
    font-size: 20px;
    position: relative;

    & > div:first-child {
      width: 100px;
    }

    input {
      width: 350px;
    }
  }

  button {
    font-size: 20px;
  }
}
