.wt-task-dialog {
  width: 800px;

  .wt-task-dialog-row-1 {
    display: grid;
    grid-template-columns: 80px 1fr 70px 100px;
  }

  .wt-task-dialog-row-2 {
    display: grid;
    grid-template-columns: 80px 1fr;
  }

  .wt-task-dialog-row-3 {
    display: grid;
    grid-template-columns: 80px 295px 1fr 80px 295px;
  }
}
